name: Build, Pack, and Hand-off to Octopus

on:
  push:
    branches:
    - 'master'
    - 'f/**'
  pull_request:
    branches: [ master ]

env:  
  OUTPUT_FOLDER: PackagesOutput
  PACKAGE_NAME: RandomQuotes
  OCTOPUS_PROJECT_NAME: RandomQuotes  
  OCTOPUS_SPACE_NAME: Default
  PACKAGE_VERSION: $env:GITHUB_RUN_NUMBER

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get version number      
      run: |
        echo "::set-env name=delete_this_row::$GITHUB_RUN_NUMBER"
        echo PACKAGE_VERSION is: $PACKAGE_VERSION
        echo OUTPUT_FOLDER is: $OUTPUT_FOLDER
        echo PACKAGE_NAME is: $PACKAGE_NAME
        echo OCTOPUS_PROJECT_NAME is: $OCTOPUS_PROJECT_NAME
        echo OCTOPUS_SPACE_NAME is: $OCTOPUS_SPACE_NAME   
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Publish
      run: dotnet publish --output $OUTPUT_FOLDER
    - name: Install Octopus Tooling
      run: |
        sudo apt update && sudo apt install --no-install-recommends gnupg curl ca-certificates apt-transport-https && \
        curl -sSfL https://apt.octopus.com/public.key | sudo apt-key add - && \
        sudo sh -c "echo deb https://apt.octopus.com/ stable main > /etc/apt/sources.list.d/octopus.com.list" && \
        sudo apt update && sudo apt install octopuscli
    - name: Pack
      run: octo pack $OUTPUT_FOLDER --id=$PACKAGE_NAME --version=$PACKAGE_VERSION
    - name: Handoff to Octopus Deploy
      env:
        OCTOPUS_URL: ${{ secrets.OCTOPUS_SERVER_URL }}
        OCTOPUS_API_KEY: ${{ secrets.OCTOPUS_API_KEY }}        
      run: octo push --package="$PACKAGE_NAME.$PACKAGE_VERSION.nupkg" --server=$OCTOPUS_URL --apiKey=$OCTOPUS_API_KEY --space=$OCTOPUS_SPACE_NAME
